/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

*
  box-sizing: border-box

body
  color: #333
  font-size: 22px
  margin-bottom: 30px
  font-family: 'Noto Serif',serif
  line-height: 1.428571429

a
  text-decoration: none
  color: #7ca1e8
  &:hover
    color: #3b72dd
    text-decoration: underline

.content
  margin-top: 20px
  padding: 0 15px
  p
    color: #333
    font-size: 22px
    margin: 0 0 10px
    margin-bottom: 30px
    font-family: 'Noto Serif',serif
    line-height: 1.4
  .checkbox
    margin-bottom: 10px

h1, h2, h3, h4
  color: #002b36
  font-family: 'PT Sans Caption',sans-serif
  line-height: 1.1
  font-weight: 700
  margin-bottom: 10px

h1
  margin-top: 20px
  font-size: 53px

h2
  font-size: 32px

.menu
  padding-top: 50px
  li
    color: #666
    font-size: 12px
    padding: 4px 0
    font-family: 'PT Sans Caption',sans-serif

.progress
  margin-bottom: 20px
