html(ng-app="leve1up")
  head
    title #{title}
    meta(charset="utf-8")
    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js")
    script(src="./javascript/semantic.min.js")
    link(rel="stylesheet" href="./stylesheets/screen.css" media="screen, projection" type="text/css")
    link(rel="stylesheet" href="./stylesheets/print.css" media="print" type="text/css")
    <!--[if IE]>
    link(rel="stylesheet" href="./stylesheets/ie.css" media="screen, projection" type="text/css")
    <![endif]-->
    link(rel="stylesheet" href="./stylesheets/semantic.min.css")
    script(src="./javascript/angular-cookies.min.js")
    script(src="./javascript/angularLocalStorage.js")
    script(src="./javascript/leve1up.js")
  body(ng-controller="leve1upCtrl")
    .ui.grid
      .one.wide.column
      .two.wide.column
        .side
          p
            a(href="https://twitter.com/share" class="twitter-share-button" data-size="large") Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          progress-bar
          !{ menu }
          p
            | Powered by 
            a(href="http://github.com/poga/leve1up") leve1up
            , markdown, and angularjs
      .seven.wide.column
        .content
          !{ content }

