html(ng-app="leve1up")
  head
    title #{title}
    meta(charset="utf-8")
    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js")
    script(src="./javascript/semantic.min.js")
    link(rel="stylesheet" href="./stylesheets/screen.css" media="screen, projection" type="text/css")
    link(rel="stylesheet" href="./stylesheets/print.css" media="print" type="text/css")
    <!--[if IE]>
    link(rel="stylesheet" href="./stylesheets/ie.css" media="screen, projection" type="text/css")
    <![endif]-->
    link(rel="stylesheet" href="./stylesheets/semantic.min.css")
    script(src="./javascript/angular-cookies.min.js")
    script(src="./javascript/angularLocalStorage.js")
    script(src="./javascript/leve1up.js")
  body(ng-controller="leve1upCtrl")
    .ui.stackable.grid
      .two.wide.column
      .two.wide.column
        .menu
          progress-bar
          !{ menu }
      .seven.wide.column
        .content
          !{ content }

