/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.sass */
* {
  box-sizing: border-box;
}

/* line 13, ../sass/screen.sass */
body {
  color: #333333;
  font-size: 14px;
  margin-bottom: 30px;
  font-family: "Noto Serif", serif;
  line-height: 1.42857;
}

/* line 20, ../sass/screen.sass */
a {
  text-decoration: none;
  color: #7ca1e8;
}
/* line 23, ../sass/screen.sass */
a:hover {
  color: #3b72dd;
  text-decoration: underline;
}

/* line 27, ../sass/screen.sass */
.content {
  padding: 0 15px;
  margin-left: 30px;
}
/* line 30, ../sass/screen.sass */
.content strong {
  font-weight: bold;
}
/* line 32, ../sass/screen.sass */
.content p {
  color: #333333;
  font-size: 20px;
  margin: 0 0 10px;
  margin-bottom: 30px;
  font-family: "Noto Serif", serif;
  line-height: 1.4;
}
/* line 39, ../sass/screen.sass */
.content .ui.checkbox {
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 40, ../sass/screen.sass */
.content .ui.checkbox label {
  color: #7ca1e8;
}

/* line 45, ../sass/screen.sass */
h1, h2, h3, h4 {
  color: #002b36;
  font-family: "PT Sans Caption", sans-serif;
  line-height: 1.1;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 53, ../sass/screen.sass */
h1 {
  font-size: 36px;
}

/* line 56, ../sass/screen.sass */
h2 {
  font-size: 30px;
}

/* line 59, ../sass/screen.sass */
h3 {
  font-size: 26px;
}

/* line 62, ../sass/screen.sass */
.side {
  position: fixed;
  width: inherit;
  margin: 10px;
  margin-top: 30px;
  font-family: "PT Sans Caption", sans-serif;
}
/* line 68, ../sass/screen.sass */
.side li {
  line-height: 1.7;
}
/* line 70, ../sass/screen.sass */
.side p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
}
/* line 74, ../sass/screen.sass */
.side ul {
  color: #666666;
  font-size: 16px;
  margin: 4px 0;
}
/* line 78, ../sass/screen.sass */
.side ul ul {
  padding-left: 20px;
}
/* line 80, ../sass/screen.sass */
.side ul ul ul {
  padding-left: 20px;
}

/* line 83, ../sass/screen.sass */
.progress {
  margin-bottom: 20px;
}

/* line 86, ../sass/screen.sass */
.rightColumn {
  margin-top: 0 !important;
}

/* line 89, ../sass/screen.sass */
.pad {
  background: url(../images/notebook.png);
  min-height: 100%;
  position: fixed;
  width: inherit;
  margin-top: 0;
  padding-right: 20px;
  padding-left: 10px;
}
/* line 97, ../sass/screen.sass */
.pad .firepad {
  margin-top: 50px;
  height: 90vh;
}
/* line 100, ../sass/screen.sass */
.pad .firepad .CodeMirror {
  background: transparent;
  margin: 20px;
}
