<html ng-app="leve1up">
  <head>
    <meta charset="utf-8" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="./assets/javascript/semantic.min.js"></script>
    <link rel="stylesheet" href="./assets/css/semantic.min.css"></link>
    <script src="./assets/javascript/leve1up.js"></script>
  </head>
  <body ng-controller="leve1upCtrl">
    <progress-bar></progress-bar>
    {{body | safe}}
  </body>
</html>
