html(ng-app="leve1up")
  head
    meta(charset="utf-8")
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js")
    script(src="./assets/javascript/semantic.min.js")
    link(rel="stylesheet" href="./assets/css/semantic.min.css")
    script(src="./assets/javascript/leve1up.js")
  body(ng-controller="leve1upCtrl")
    progress-bar
    !{ body }

