body
  margin: 0
  font-family: 'PT Sans Caption', sans-serif

a
  text-decoration: none
  color: rgb(59, 114, 221)
  &:visited
    color: purple
  &:hover
    text-decoration: underline

.row
  min-height: 1280px
  .side
    padding-top: 20px
    font-size: 13px
    .menu
      margin: 20px 1px
      .m
        a
          display: block
          margin: 7px 0
      .l2
        padding-left: 20px
  .content
    padding-top: 20px
    .ui.checkbox
      margin: 5px 0

