body
  margin: 0

.content
  font-family: 'PT Sans Caption', sans-serif

.menu
  margin: 10px 10px
  a
    display: block
    margin: 7px 0
  .l2
    padding-left: 20px

.row
  min-height: 1280px

.side
  padding-top: 20px
  background: url("/images/squared_metal.png")

.content
  padding-top: 20px
  
